doctype html 
html(lang='en')
    head
        meta(charset='utf-8')
        title= 'Ygo Banlist Checker API'
        style   
            include index.css 
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    body
        nav.navbar.navbar-expand-lg.navbar-light
            .container-fluid 
                span.navbar-brand#navbar-title Yu-Gi-Oh! Banlist Checker 
        #header.col
            //- h1.center= 'Ygo Banlist Checker API'
            h1.center= 'Get your latest banlist update!' 
            .row 
                .input-group.mb-3.mt-3#email
                    span.input-group-text @
                    input.form-control(placeholder="Trage dich hier ein!" readonly) 
                button(type="button" disabled)#button.btn.btn-success.mx-3 Senden
            hr#divider
        #container.col  
            #date 
                //- - console.log(current_banlist_date.substring(current_banlist_date.indexOf('ab')+3, current_banlist_date.length));
                span.badge= current_banlist_date 
            table.cards-table(cellpadding="0" cellmargin="0")
                thead 
                    tr 
                        th Card Name 
                        th Previously at 
                        th Limited to 
                    tbody 
                        each val, key in forbidden ? forbidden : []
                            tr 
                                td #{val.name} 
                                td #{val.prev}
                                td 0
            
            table.cards-table(cellpadding="0" cellmargin="0")
                thead 
                    tr 
                        th Card Name 
                        th Previously at 
                        th Limited to 
                    tbody 
                        each val, key in limited ? limited : []
                            tr 
                                td #{val.name} 
                                td #{val.prev}
                                td 1
                                
            table.cards-table(cellpadding="0" cellmargin="0")
                thead 
                    tr 
                        th Card Name 
                        th Previously at 
                        th Limited to 
                    tbody 
                        each val, key in semiLimited ? semiLimited : []
                            tr 
                                td #{val.name} 
                                td #{val.prev}
                                td 2
            
            table.cards-table(cellpadding="0" cellmargin="0")
                thead 
                    tr 
                        th Card Name 
                        th Previously at 
                        th Status 
                    tbody 
                        each val, key in unlimited ? unlimited : []
                            tr 
                                td #{val.name} 
                                td #{val.prev}
                                td No longer on the list